{
  "presets": [["@babel/preset-env"], "@babel/preset-react"],
  "plugins": [
    "react-hot-loader/babel",
    // "@babel/plugin-syntax-dynamic-import",
    ["@babel/proposal-class-properties"],
    [
      "import",
      {
        "libraryName": "dpl-mobile",
        "style": "css"
      }
    ]
    // [
    //   "import",
    //   {
    //     "libraryName": "dpl-mobile",
    //     "style": true
    //   }
    // ] // `style: true` 会加载 less 文件
  ]
}
